<!-- footer start -->
<footer class="fixed-footer pos-rel bg-img-cover js-fixed-footer" style="background-image:url({{ asset('themes/front/assets/images/backgrounds/footer-bg.jpeg') }})">
	<!-- bg-overlay -->
	<div class="bg-overlay-black"></div>
	<!-- pos-rel start -->
	<div class="pos-rel flex-min-height-100vh">
		<!-- container start -->
		<div class="container padding-top-bottom-120">
			<!-- footer-logo start -->
			<div class="footer-logo footer-logo-desktop-hidden padding-bottom-90">
				<img class="footer-logo__img" src="{{ asset('themes/front/assets/images/logo/logo.png') }}" alt="logo">
			</div><!-- footer-logo end -->

			<!-- flex-container start -->
			<div class="flex-container flex-align-center">
				<!-- column start -->
				<div class="eight-columns">
					<h4 class="column-l-r-margin-10 headline-l footer-title">
						<span class="text-color-red">VicGen <br>VOS IDEES </span> <br> NOS SUCCES
					</h4>
				</div><!-- column end -->
				<!-- column start -->
				<div class="four-columns footer-nav-mobile-padding">
					<ul class="column-l-r-margin-10 footer-nav-list js-footer-hover-box">
						<li>
							<a href="#services" class="footer-nav__btn js-pointer-small js-footer-hover-link">Nos Services</a>
						</li>
						<li>
							<a href="#travaillons-ensemble" class="footer-nav__btn js-pointer-small js-footer-hover-link">Travaillons ensemble</a>
						</li>
						<li>
							<a href="#comment-travaillons-nous" class="footer-nav__btn js-pointer-small js-footer-hover-link">Comment travaillons-nous ?</a>
						</li>
						<li>
							<a href="#offre" class="footer-nav__btn js-pointer-small js-footer-hover-link">VicGen  vous offre</a>
						</li>
						<li>
							<a href="#experts" class="footer-nav__btn js-pointer-small js-footer-hover-link">Nos experts</a>
						</li>
						<li>
							<a href="#realisations" class="footer-nav__btn js-pointer-small js-footer-hover-link">Nos réalisations</a>
						</li>
						<li>
							<a href="{{ path('app_contact') }}" class="footer-nav__btn js-pointer-small js-footer-hover-link">Contactez-nous</a>
						</li>
					</ul>
				</div><!-- column end -->
			</div><!-- flex-container end -->

			<!-- flex-container start -->
			<div class="flex-container flex-justify-center padding-top-30">
				<!-- column start -->
				<div class="four-columns column-50-100 padding-top-60 footer-email">
					<div class="column-l-r-margin-10">
						<div class="headline-xxxxs">Email</div>
						<div class="margin-top-10">
							<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">
							{{ appEmail }}</a><br>
						</div>
					</div>
				</div><!-- column end -->
				<!-- column start -->
				<div class="four-columns column-50-100 padding-top-60 footer-address">
					<div class="column-l-r-margin-10">
						<div class="headline-xxxxs">Addresse</div>
						<div class="margin-top-10">
							<a href="#" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">
								{{ appAdresse }}
							</a>
						</div>
					</div>
				</div><!-- column end -->
				<!-- column start -->
				<div class="four-columns column-50-100 padding-top-60 footer-phone">
					<div class="column-l-r-margin-10">
						<div class="headline-xxxxs">Téléphone</div>
						<div class="margin-top-10">
							<a href="tel:{{ appPhone }}" class="subhead-xxs text-color-b0b0b0 text-hover-to-white js-pointer-small">{{ appPhone }}</a><br>
						</div>
					</div>
				</div><!-- column end -->
			</div><!-- flex-container end -->

			<!-- footer-social start -->
			<ul class="footer-social-desktop-hidden list list_center padding-top-90">
				<li class="list__item">
					<a href="#" class="flip-btn js-pointer-small" data-text="linkedin">linkedin</a>
				</li>
				<li class="list__item">
					<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
				</li>
				<li class="list__item">
					<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
				</li>
			</ul><!-- footer-social end -->

			<!-- footer-copyright start -->
			<div class="footer-copyright text-center pos-abs pos-bottom-center">
				<p class="copyright-style">
					&copy; Copyright 2022 {{ appName }}
				</p>
			</div><!-- footer-copyright end -->
		</div><!-- container end -->
	</div><!-- pos-rel end -->
</footer><!-- footer end -->