{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!-- pos-rel start -->
<section id="up" class="pos-rel js-parallax-bg" style="background-image:url({{ asset('themes/front/assets/images/contact/0.jpeg') }})">
    <!-- bg-overlay -->
    <div class="bg-overlay-black"></div>
    <!-- pos-rel start -->
    <div class="pos-rel flex-min-height-100vh">
        <div class="padding-top-bottom-120 container small after-preloader-anim">
            <!-- title start -->
            <h2 class="headline-xl">
                <span class="hidden-box d-block">
                    <span class="anim-slide">{{ appName }}</span>
                </span>
                <span class="hidden-box d-block">
                    <span class="anim-slide tr-delay-01">Vos idées,</span>
                </span>
                <span class="hidden-box d-block">
                    <span class="anim-slide tr-delay-02">Nos succès</span>
                </span>
            </h2><!-- title end -->
            <p class="subhead-xs text-color-dadada margin-top-20 anim-fade tr-delay-04"></p>
        </div>
    </div>
    <!-- pos-rel end -->
</section>
<!-- pos-rel end -->

<!-- contact us start -->
<section id="down" class="pos-rel section-bg-dark-1">
    <!-- pos-rel start -->
    <div class="pos-rel flex-min-height-100vh">
        <!-- container start -->
        <div class="padding-top-bottom-120 container">
            <!-- content start -->
            <div class="js-scrollanim">
                <h2 class="headline-l">
                    <span class="anim-text-double-fill" data-text="Nous">Nous </span>
                    <span class="anim-text-double-fill tr-delay-02" data-text="contacter">contacter</span>
                </h2>
                <p class="body-text-s margin-top-20 anim-text-reveal tr-delay-04">
                Une vision sans action n’est qu’une hallucination.» – Michael Kami</p>
            </div><!-- content end -->

            <!-- flex-container start -->
            <div class="flex-container padding-top-30">
                <!-- column start -->
                <div class="four-columns column-50-100 padding-top-60">
                    <div class="column-r-margin-20 js-scrollanim">
                        <p class="headline-xxxxs anim-text-double-fill invert" data-text="Envoyez-nous un email">Envoyez-nous un email</p>
                        <div class="padding-top-20">
                            <h6 class="anim-fade tr-delay-01">
                                <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">{{ appEmail }}</a>
                            </h6><br>
                        </div>
                    </div>
                </div><!-- column end -->

                <!-- column start -->
                <div class="four-columns column-50-100 padding-top-60">
                    <div class="column-r-margin-20 js-scrollanim">
                        <p class="headline-xxxxs anim-text-double-fill invert" data-text="Rendez nous visite">Rendez nous visite</p>
                        <h6 class="list list_margin-1px padding-top-20 text-color-b0b0b0">
                            <span class="list__item">
                                <span class="d-inline-block hidden-box">
                                    <span class="subhead-xxs anim-reveal tr-delay-01">{{ appAdresse }}</span>
                                </span>
                            </span>
                        </h6>
                        <!--<div class="padding-top-10 anim-fade tr-delay-04">
                            <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">Ouvrir dans google maps</a>
                        </div>-->
                    </div>
                </div><!-- column end -->

                <!-- column start -->
                <div class="four-columns column-50-100 padding-top-60">
                    <div class="column-r-margin-20 js-scrollanim">
                        <p class="headline-xxxxs anim-text-double-fill invert" data-text="Appelez-nous">Appelez-nous</p>
                        <div class="padding-top-20">
                            <h6 class="anim-fade tr-delay-01">
                                <a href="#" class="subhead-xxs text-color-dadada text-hover-to-red js-pointer-small">
                                    {{ appPhone }}
                                </a>
                            </h6>
                        </div>
                    </div>
                </div><!-- column end -->
            </div><!-- flex-container end -->

            <!-- social btns start -->
            <div class="padding-top-90">
                <ul class="list list_row list_margin-30px js-scrollanim">
                    <li class="list__item anim-fade">
                        <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="linkedin">linkedin</a>
                    </li>
                    <li class="list__item anim-fade tr-delay-02">
                        <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Instagram">Instagram</a>
                    </li>
                    <li class="list__item anim-fade tr-delay-03">
                        <a href="#" class="fill-btn text-color-979797 js-pointer-small" data-text="Facebook">Facebook</a>
                    </li>
                </ul>
            </div><!-- social btns end -->
        </div><!-- container end -->
    </div><!-- pos-rel end -->
</section><!-- contact us end -->

{{ include('contact/composants/_form_section.html.twig') }}


{% endblock %}
